---
import '../main.css'
import Header from '$components/Header.astro'

const metaTitle = 'Empieza el 2024 como un rey: destinos de España para huir del frío'
const metaDescription =
	'Lluvia, nieve… todavía nos quedan semanas de invierno a las que hacer frente, y por eso queremos tomar la primera buena decisión del año recordando los fenómenos extremos weather que nos han acompañado y cómo escapar del frío'
const metaUrl = 'https://www.eltiempo.es/bc/llamadatranquilidad/'
---

<!doctype html>
<html lang="es-ES">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="robots" content="noindex,nofollow" />
		<title>{metaTitle}</title>
		<meta property="description" content={metaDescription} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={metaUrl} />
		<meta property="og:image" content={`${metaUrl}thumbnail.jpg`} />
		<meta property="og:title" content={metaTitle} />
		<meta property="og:description" content={metaDescription} />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:image" content={`${metaUrl}thumbnail.jpg`} />
		<meta property="twitter:title" content={metaTitle} />
		<meta property="twitter:description" content={metaDescription} />
		<link rel="icon" href="/favicon.png" />
	</head>

	<body>
		<div id="scroll" class="relative max-h-screen snap-y snap-mandatory overflow-y-scroll">
			<Header />
			<slot />
		</div>
		<script src="../main.ts"></script>
	</body>
</html>
